version: "3.9"

services:
  db:
    image: postgres:15-alpine
    env_file: .env
    volumes:
      - postgres_pilates:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    ports:
      - "6378:6379"
    volumes:
      - redis_pilates:/data
    restart: unless-stopped

  web:
    build:
      context: .
    command: ["bundle", "exec", "rails", "server", "-b", "0.0.0.0", "-p", "3000"]
    entrypoint: ["bin/docker-entrypoint"]
    env_file: .env
    ports:
      - "3000:3000"
    depends_on:
      - db
      - redis
    volumes:
      - .:/app
    restart: unless-stopped

  sidekiq:
    build:
      context: .
    command: ["bundle", "exec", "sidekiq"]
    entrypoint: ["bin/docker-entrypoint"]
    env_file: .env
    depends_on:
      - db
      - redis
    volumes:
      - .:/app
    restart: unless-stopped

volumes:
  postgres_pilates:
  redis_pilates:
  bundle_cache_pilates:
